:root {
    --main_color:rgb(199, 199, 15);
    --second-color:rgb(19, 179, 228);
    --text_color:rgb(218, 218, 218);
    --p_size:1.1rem;
    --big_size:4rem;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    max-width: 100%;
    font-family: "Afacad Flux" , 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

a {
    text-decoration: none;
    color: var(--text_color);
}

ul {
    list-style: none;
}

li a:hover {
    color: var(--main_color);
}

header {
    background-color: black;
    width: 100%;
    z-index: 1000;
    position: fixed;
}


.container {
    max-width: 70vw;
    padding-inline: auto;
    margin-inline: auto;
}

.flex {
    display: flex;
}

/*header section*/

.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: var(--p_size);
}

.logo {
    font-size: 1.5em;
    font-weight: 800;
    letter-spacing: 10px;
}

.logo::first-letter {
    color: var(--main_color);
    font-size: 2em;
    vertical-align: -10%;
    letter-spacing: -3px;
    font-family: "Mogra";
}

.navbar-list {
    gap: 3rem;
}

.active {
    color: var(--main_color);
}

.cus {
    border: 1px solid var(--main_color);
    padding: 6px 25px;
    background-color: rgba(221, 218, 10, 0.274);
    border-radius: 15px;
    transition: 0.1s linear;
}

.cus:hover {
    background-color: rgb(255, 255, 0);
    color: rgb(0, 0, 0);
}

.cus:active {
    box-shadow: 1px 1px 1px 1px rgb(255, 255, 255) , -1px -1px 1px 1px rgb(255, 255, 255)  ;
}

.sidebar-icon {
    display: none;
}

/*hero section*/

.hero {
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: relative;
    background: linear-gradient(to top,
    rgb(0 0 0 / 1),
    rgb(0 0 0 / 0.5),
    rgb(0 0 0 / 0))
    , url(./images/hero\ hackground.jpg) center / cover no-repeat;
}

.hero-text {
    z-index: 2;
    font-size: 1.4em;
    text-align: center;
    font-weight: 200;
}

.hero-text h1 {
    font-size: var(--big_size);
    font-family: "Mogra";
    background: linear-gradient(90deg ,rgb(255, 166, 0) , white , orange);
    object-fit: cover;
    background-clip: text;
    color: transparent;
}

.hero a {
    font-size: 4em;
    color: var(--main_color);
    z-index: 2;
    position: absolute;
    top: 700px;
    animation: arrow 0.8s infinite ease-in-out;
}

@keyframes arrow {
    0% {transform: translate(0);}
    50% {transform: translateY(10px);}
    100%{transform: translate(0);}
}

/*features section*/ 

.benefits {
    padding: 10vh 30px;
    text-align: center;
}

.benefits-list {
    display: grid;
    grid-template-columns: repeat(auto-fit , 200px);
    justify-content: center;
    gap: 60px;
    margin: 100px 0;
}

.feature {
    width: 250px;
    height: 200px;
    place-self: center;
    text-align: center;
}

.feature i {
    font-size: 2.5em;
    background-color: rgb(205, 190, 50);
    background-clip: text;
    color: transparent;
    padding: 20px;
}
/*destinations section*/

.destinations {
    padding: 10vh 30px;
    flex-direction: column;
    gap: 50px;
    text-align: center;
    padding: 20vh 0;
}

.places {
    display: grid;
    grid-template-columns: repeat(auto-fit ,301px);
    place-content: center;
    gap: 20px;
}

.place-card {
    position: relative;
}

.place-card img {
    width: 300px;
    height: 400px;
    border-radius: 20px;
}

.card-info {
    position: absolute;
    top: 10px;
    left: 40px;
    color: white;
    font-size: 1.2rem;
    font-weight: 800;
    background-color: rgb(17, 17, 17 , 20%);
    padding: 20px;
    border-radius: 40px;
}


.card-info h4 {
    font-size: 1.5em;
    border-bottom: 1px solid #686767;
    color: var(--main_color);
}

.rating {
    font-size: large;
    position: absolute;
    top: 350px;
    left: 20px;
    color: #ffffff;
}

.rating .checked {
    background: var(--text_color_linear);
    background-clip: text;
    color: transparent;
}
